<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.SpaConnectionString" connectionString="Data Source=GOMEZ-JARAMILLO;Initial Catalog=Spa;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.SpaConnectionString1" connectionString="Data Source=CRIS;Initial Catalog=Spa;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>